.List {
  margin-left: 24%;
}

li {
  margin: 0 auto;
  width: 1000px;
  padding: 17px;
  font-size: 15px;
  color: black;
  background-color: #fff;
  border: 1px solid gray;
  list-style-type: none;
}

button {
  float: right;
  border: none;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
}
