.List {
  margin-left: 24%;
}

li {
  height: 20px;
  margin: 0 auto;
  width: 1000px;
  padding: 15px;
  font-size: 15px;
  color: black;
  background-color: #fff;
  border: 1px solid gray;
  list-style-type: none;
}

/* .status2 {
  float: left;
  width: 35%;
} */

.status {
  color: rgb(7, 167, 79);
  float: left;
  width: 61%;
  font-weight: bold;
}

.status3 {
  float: left;
}